body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* font-family: 'Anton-Regular'; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* https://gist.github.com/dnnysng/5bc61b2b85dd01ec1809367038b41bb0 */
/* FONT_NAME = Your font name, i.e. Arial */
/* PATH_TO_YOUR_FILE = The relative path to your font from index.css */
/* Note: Most of the Google fonts I've seen are .ttf which is the 'truetype' format */

@font-face {
  font-family: 'Anton-Regular';
  src: local('Anton-Regular'),
    url('./style/fonts/Anton/Anton-Regular.ttf') format('truetype');
}

/* Optionally you may also set other variables such as 'font-weight' while importing */
/* In the example below the font will be used when you use a weight of '700' */

@font-face {
  font-family: 'Anton-Regular';
  src: local('Anton-Regular'),
    url('./style/fonts/Anton/Anton-Regular.ttf') format('truetype');
  font-weight: 700;
}

/* This is how you use the font */
.selector {
 font-family: 'Anton-Regular';
}
